@use "./vars.scss" as *;

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: var(--curviness);
  padding: $padding;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-3);
    border-radius: var(--curviness);

    .input {
      width: 100%;
      padding: 20px;

      .inputInner {
        display: flex;
        background-color: var(--bg-4);
        border-radius: var(--curviness);
        height: 60px;
        padding: 10px;

        input {
          height: 100%;
          flex: 1;
          background-color: var(--bg-4);
          outline-color: var(--bg-4);
        }

        input:focus {
          outline-color: var(--bg-4);
        }

        .noback {
          color: var(--fg-2);
          background-color: inherit;
          outline: inherit;
        }

        .noback:hover {
          color: var(--fg-1);
          background-color: inherit;
          outline: inherit;
        }

        button {
          height: 100%;
          width: auto;
          padding: 10px;
          margin: 0 0 0 10px;

          svg {
            height: 100%;
            width: auto;
          }
        }
      }
    }

    .messages {
      padding: 20px;
      overflow: hidden;
      flex: 1;
      width: 100%;

      ::-webkit-scrollbar {
        width: 0;
      }

      ::-webkit-scrollbar-track {
        background: var(--bg-2);
      }
      
      ::-webkit-scrollbar-thumb {
        background: var(--bg-3);
      }

      ::-webkit-scrollbar-thumb:hover {
        background: var(--bg-3);
      }

      > div {
        overflow: auto;
        width: 100%;
        height: 100%;

        .me {
          justify-content: flex-end;

          .picture {
            margin: 0 0 0 20px !important;
            order: 1;
          }

          .messageContent {
            border-radius: var(--curviness) var(--curviness) 0 var(--curviness) !important;
          }
        }

        .message {
          position: relative;
          display: flex;
          padding: 15px;
          width: 100%;
          align-items: center;

          .picture {
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            height: 40px;
            width: 40px;
            margin: 0 20px 0 0;
          }

          .messageContent {
            width: fit-content;
            background-color: var(--bg-4);
            padding: 15px;
            border-radius: var(--curviness) var(--curviness) var(--curviness) 0;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}