:root {
  --bg-5: #6e7197;
  --bg-4: #2e324e;
  --bg-3: #22253f;
  --bg-2: #1c1f37;
  --bg-1: #141627;
  
  --bg-accent-1: #3b378a;
  --bg-accent-2: #4d48a9;
  
  --fg-1: #ffffff;
  --fg-2: #6e7197;
  
  --border-1: #252546;

  --curviness: 10px;
   
  --fg-err: #c24183;
} 
