:root {
  --bg-5: #6e7197;
  --bg-4: #464b70;
  --bg-3: #252a43;
  --bg-2: #1c1f37;
  --bg-1: #141627;
  
  --bg-accent-1: #56459b;
  --bg-accent-2: #735bd5;
  
  --fg-1: #ffffff;
  --fg-2: #6e7197;
  
  --border-1: #252546;

  --curviness: 10px;
   
  --fg-err: #c24183;
} 
