@use "vars" as *;

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width-form;
  height: 100%;

  transition: 
    left 0.5s ease, 
    right 0.5s ease,
    opacity 0.5s ease;

  .content {
    width: 100%;
    padding: 0 20%;

    input, button {
      width: 100%;
      margin: 10px 0;
    }

    .seperator {
      opacity: 0.5;
      display: flex;
      margin: 10px 0;
      align-items: center;

      > div {
        height: 1px;
        flex: 1;
        background-color: var(--fg-2);
      }

      p {
        padding: 0 15px;
        color: var(--fg-2);
        margin: 0;
      }
    }
  }
}

.container.login {
  left: 0;
}

.container.register {
  right: 0;
}

.container.login.inactive {
  left: 75px;
}

.container.register.inactive {
  right: 75px;
}

.container.active {
  opacity: 1;
}

.container.inactive {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
